.Rproj.user
.Rhistory
.RData
.Ruserdata
shinny_app/rsconnect/
/shinny_app/data/*
!/shinny_app/data/building_layer_info.csv
!/shinny_app/data/building_pretty_key.csv
/processing/data/*
!/processing/data/building_layer_info.csv
!/processing/data/parcel_layer_info.csv
!/processing/data/biulding_occup_key.csv
!/processing/data/biulding_stories_key.csv
!/processing/data/biulding_units_key.csv
!/processing/data/biulding_flood_scheme_key.csv
!/processing/data/biulding_flood_zone_key.csv
!/processing/data/biulding_build_key.csv
shinny_app/config.json