/* change the background color of the entire app */
.content-wrapper{
	background-color: #f2f6f7;
}

.side-bar-text {
    padding-left: 20px;
    padding-right: 20px;
    color: '#000000';
}

div.main-header {
    color: '#000000';
}